.form {
  display: flex;
  flex-direction: column;
  &-controls {
    max-width: 200px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }
  &-control {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    label {
      color: #6c6c6c;
      font-size: 12px;
      margin-bottom: 5px;
    }
    input {
      border: 0;
      border-radius: 10px;
      padding: 10px;
      background: #ffffff;
      box-shadow: 0 0 3px #646464;
      outline: 0;
    }
  }
  &-btn {
    width: 200px;
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 0 3px #646464;
    outline: 0;
  }
}